body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% - 1em;
    margin: 0.5em;
}
h1 {
    margin-bottom: 0;
}

#idiv, #odiv {
    width: 100%;
}
#iodiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Editors side by side on large screens */
@media (min-width: 90em) {
    #iodiv {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
    #idiv, #odiv {
        width: calc(50%);
    }
}

#input, #output {
    width: 100%;
    height: 70vh;
    margin-top: 0.5em;
}

.toolbar {
    display: flex;
    margin-top: 0.5em;
}

#odiv .toolbar {
    justify-content: right;
}

#url {
    flex-grow: 100;
    margin: 0 0.5em;
}

#advancedOptions {
    margin-top: 0.5em;
}
details summary {
    cursor: pointer;
}

#examples {
    margin-top: 0.5em;
    padding-top: 0.5em;
}

#examples, footer {
    border-top: thin solid lightGray;
}
